.continue-learning-section {
  width: 100%;
  padding: 40px 0 80px;
  margin: 0 auto;
}
.continue-learning-wrapper {
  position: relative;
}

.continue-learning-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.blurred {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
}
